.marvel_form h2, .marvel_form label {
	font-family: arial, helvetica, sans-serif;
}

.marvel_form h2 {
	margin: 0;
	display: inline;
}

.marvel_form ul {
	width: 100%;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.marvel_form li {
	padding: 5px;
	border-bottom: 1px solid #eee;
	/* position: relative; */
}

.marvel_form li:first-child, .marvel_form li:last-child {
	border-bottom: 1px solid #777;
}


#ProfilePage {
	margin: 50px auto;
	width: 80%;
}

#LeftCol {
	float: left;
	width: 15%;
	text-align: center;
	margin-right: 20px;
}

#Photo {
	width: 140px;
	height: 140px;
	text-align: center;
}

#Info {
	width: 60%;
	text-align: left;
	float: left;
}

#Info strong {
	display: inline-block;
	width: 120px;
}
